.proc-box {
	width: 300px;
	height: 300px;
	padding: 3px;
	position: relative;
}

.proc-box-row {
	width: window.innerWidth - 20;
	height: 310px;
	padding: 5px;
}

.left {
	float:left;
}

.right { 
	float:right;
}

.center {
	margin:0 auto;
}

.centered-boxes {
	width: 50%;
	height: 300px;
	padding-left: 3px;
	padding-right: 3px;
}

.centered-text {
	padding-top: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 200%;
}

.sub-text {
	text-align: center;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	padding-top: 20px;
}

*:focus {
    outline: none;
}

body {
	background-color: #404040;
}